*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    min-width: 100%;
    background-color: rgb(37, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock{
    color: white;
    font-size: 4rem ;
    padding: 3rem;
}
button{
    padding: 1.25rem;
    width: 200px;
    border: none;
    box-shadow: 0 0 10px rgba(206, 196, 196, 0.3);
    margin: 30px;
    transition: all 0.5s;
    cursor: pointer;
    font: 500 1.1rem sans-serif;
    border-radius: 10px;
}
#start:hover{
    color: white;
    background-color: rgb(51, 51, 51);
}
#start:active{
    background-color: black;
}
#stop:hover{
    color: white;
    background-color: rgb(51, 51, 51);
}
#stop:active{
    background-color: black;
}
#reset:hover{
    color: white;
    background-color: rgb(51, 51, 51);
}
#reset:active{
    background-color: black;
}